.test-container{
    display: inline-flex;
    border: 1px solid black;
    align-items: center;
    
}

.flex-item{
    height: 5rem;
    width: 5rem;
    /* text-align: center; */
    align-self: flex-end;
    text-align: center;

}

.item1{
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: center;

}
.item2{
    background-color: blueviolet;
}
.item3{
    background-color: cadetblue;
}
.item4{
    background-color: coral;
}
.item5{
    background-color: crimson;
}
.item6{
    background-color: antiquewhite;
}
.item7{
    background-color: green;
}